.todo {
    font-family: RobotoCondensed;
    position: absolute;
    background-color: rgb(48, 46, 46);
    top: 0;
    right: 0;
    width: 360px;
    border: 1px solid rgb(99, 95, 95);
    user-select: none;
}