.todo {
    padding: 10px;

    &__header {
        font-family: 'RobotoCondensed';
        font-weight: 400;
        font-size: 18px;
    }

    &__form {
        display: flex;
        align-items: center;

        input,
        button {
            padding: 7px;            
            border: none;            
            outline: none;
        }

        input {
            width: 90%;
        }
        
        button {
            color: black;
            background: white;
            cursor: pointer;
            transition: all 0.3s ease;
            width: 10%;

            &:hover {
                background: black;
                color: white;
            }
        }
        
        &--select {
            justify-content: space-between;
            margin-bottom: 10px;
        }

        &--input {
            justify-content: center;
        }
    }

    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__list {
        min-width: 30%;
        list-style: none;
        width: 100%;
        
    }

    &__block {
        margin: 5px auto;
        background: white;
        color: black;
        font-size: 18px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: all 0.5s ease;
        width: 90%;

        li {
            flex: 1;
        }
    }

    &__item {
        padding: 0rem 5px;
        font-size: 16px;
        white-space: nowrap;
        overflow: hidden;
    }

    &__trash,
    &__complete {
        background: black;
        color: white;
        border: none;
        outline: none;
        padding: 5px;
        cursor: pointer;
        font-size: 13px;
    }

    &__fall {
        transform: translateY(8rem) rotateZ(20deg);
        opacity: 0;
    }
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}