@font-face {
    font-family: 'RobotoCondensed';
    src: url('../assets/fonts/RobotoCondensed-Light.eot');
    src: local('☺'), url('../assets/fonts/RobotoCondensed-Light.woff') format('woff'), url('../assets/fonts/RobotoCondensed-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}